body {
  margin: 0;
  padding: 0;
  font-family: "Sofia Pro Soft", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Backgrounds */
.bg-dark-blue {
  background-color: #0D47A1;
}
.bg-agent-blue {
  background-color: #3366FF;
}
.bg-consumer-blue {
  background-color: #00B0FF;
}

/* Borders */
.border-agent-blue {
  border-color: #3366FF;
}

/* Text */
.text-6xl {
  font-size: 3.3125rem;
}
.text-7xl {
  font-size: 5rem;
}

/* Shadow */
.shadow-lg {
  /* box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
          0 5px 15px 0 rgba(0,0,0,0.08); */
          box-shadow: 0 3px 15px 0 rgba(0,0,0,.1),
          0 5px 15px 0 rgba(0,0,0,0.02);
}

/* Width */
.logos {
  max-width: 172px;
}
.w-40p {
  width: 40px;
}
.max-w-100p {
  max-width: 100px;
}

/* App Specific */
.app {}

.app-logo {
  height: 3rem;
}

.app-header {
  background-color: #00B0FF;
  min-height: 8.5rem;
/*  font-size: calc(10px + 2vmin); */
  color: white;
  padding: 3.5rem 7%;
}

/*  */
.homepageHero {
  background-color: #00B0FF;
  color: white;
  height: 556px;
}

/* */
.theOne {
  overflow: hidden;
}
.load {
    position: absolute;
    top: -40%; left: -20%;
    z-index: 0;
    /*
    top: calc(50% - 50px);
    left: calc(50% - 50px); */
    width: 2000px;
    height: 2000px;
}
.load i {
  background: #00B0FF;
  position: absolute;
  top: 0; left: 0;
  width: 2000px;
  height: 2000px;
  opacity: 0;
  border-radius: 100%;
  animation: circle 8s ease-out infinite 0s;
}
.load i:nth-child(2) {
  animation-delay: 1s;
}
.load i:nth-child(3) {
  animation-delay: 1s;
}

@keyframes circle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
